@font-face {
    font-family: "DMSans";
    font-weight: 100 900;
    font-style: normal;
    src: url("/src/assets/Font/DM_Sans/DMSans.tff")
        format("truetype");
}

@font-face {
    font-family: "DMSans";
    font-weight: 100 900;
    font-style: italic;
    src: url("/src/assets/Font/DM_Sans/DMSans-Italic.tff")
        format("truetype");
}