//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//primary colors
$white: #ffffff; 
$black: #000000;
$purple: #9271f5;


//secondary colors

$peach: #f0ab67;
$blue: #7fd9f0;
$text-gray: #989c9a; 
$yellow: #f5e558;


//background color
$background-gray: #ebebed; 

//selected colors
$pink: #de66d6;
$forest-green: #178a47; 

//Font Weight
$regular: 400;
$bold: 600;

//button 
$green: #25cc6a;

